*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
*.py
*.db-shm
*.db-wal
*.html
*.pyc
OZW_Log.txt
entity_registry.yaml
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
pyozw.sqlite
ip_bans.yaml
docker-compose.yml
custom-components/
custom_components/media_player/__pycache__/
.hue*
.tradfri*
.ps4*
.HA*
.uuid
.config*
!/.gitignore
config
ozw_config